<h1>What's my weather?</h1>
<br />
<%= form_for @location, :html => { :class => "form-horizontal" }, method: :post do |f| %>
  <!-- Error Messages -->
  <% if @location.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
      <h4>
        <%= "#{pluralize(@location.errors.count, "error")} prevented us from fetching your weather" %>
      </h4>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group <%= has_error?( @location, :location_input ) ? "" : "has-success" %>">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
    <%= f.text_field :location_input, class: "form-control", placeholder: "Location" %>
  </div>
<% end %> <!-- End of Form -->

<br />

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <img src="assets/test.jpg" alt="" class="display-image"/>
      <%= image_tag 'window.png', class: "window" %>
      <div class="caption">
        <% if @currently.present? %>
          <h3><%= @city %></h3>
          <p>Currently:
            <%= @currently[:summary] %>
            <% if @currently[:temperature] %>
              <%= @currently[:temperature] %>&deg;F
            <% end %>
            <% if @currently[:humidity] %>
              (<%= @currently[:humidity]*100 %>% humidity)
            <% end %>
          </p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('img').on('load',function(){
      var height = $("img.display-image").height();
      var width = $("img.display-image").width();
      console.log(height);
      $(".window").css("height", height).css("width", width);
    });
  });
</script>
