<h1>Weather or Not</h1>
<br />
<%= form_for @location, :html => { :class => "form-horizontal" }, method: :post do |f| %>
  <!-- Error Messages -->
  <% if @location.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button aria-hidden="true" class="close" data-dismiss="alert" type="button">&times;</button>
      <h4>
        <%= "#{pluralize(@location.errors.count, "error")} prevented us from fetching your weather" %>
      </h4>
      <ul>
        <% @location.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></span>
    <%= f.text_field :location_input, class: "form-control", placeholder: "Location" %>
  </div>
<% end %> <!-- End of Form -->

<br />

<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <img src="assets/unknown.jpg" alt="" class="display-image"/>
      <%= image_tag 'window.png', class: "window" %>
      <div class="caption">
        <% if @currently.present? && @city %>
          <h3><%= @city %></h3>
          <div class="weather-details"><p class="weather-currently">Currently:
            <%= @currently[:summary] %></p>
            <p>
              <% if @currently[:temperature] %>
                <%= @currently[:temperature].to_i %>&deg;F
              <% end %>
              <% if @currently[:humidity] %>
                (<%= @currently[:humidity]*100 %>% humidity)
              <% end %>
            </p>
          </div>
          <p>
            <span class="btn btn-primary" role="button">What's popular in <%= @city %>?</span>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="thumbnail">
      <div class="caption" id="names">
        <h3>Popular in <%= @city %> <small>via Foursquare:</small></h3>
        <hr>
        <% 10.times do |i| %>
        <div class="venue"id="venue_<%= i %>">
          <p class="venue_name" id="venue_<%= i %>"></p>
          <p class="show-contact" id="venue_<%= i %>"><span class="btn btn-default btn-sm" id="show-contact" role="button">Show Contact</span></p>
          <div class="map-container" id="venue_<%= i %>"><div class="address"></div><div class="map"></div></div>
          <hr>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
(function($) {

  // Foursquare
    $('.btn-primary').click(function() {
      $("#names").show();
      var config = {
        clientId: 'KCMQ3CHAXOVBEXJFM15U4FMB0RKHPZZDI54AJKYL13VYMSM1',
        clientSecret: 'W4Y1IDYAZF55XD2CCEBG0IH1ONT10UARRBVVDDHVJ1OWJSY0', // This key wouldn't ideally live in the view, but I'm trying to demonstrate jQuery skillset.
        authUrl: 'https://foursquare.com/',
        apiUrl: 'https://api.foursquare.com/v2/venues/search?'
      };

      var date = new Date().toISOString().slice(0,10).replace(/\-/g, '');
      var foursquareAPI = config.apiUrl + "near=<%= @city %>&limit=10&client_id=" + config.clientId + '&client_secret=' + config.clientSecret + '&v=' + date + '&categoryId=4d4b7104d754a06370d81259';
      $.getJSON(foursquareAPI, function(data) {
          var venueCount = Object.keys(data.response.venues).length;
          console.log(data);
          $.each(data.response.venues, function(i,venue){
            var url, icon, address, show_contact;
            if (venue.url){
              url = '<a href="' + venue.url + '"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>'
            } else {
              url = ''
            }
            if (venue.categories[0]){
              icon = '<img src="' + venue.categories[0].icon.prefix + 'bg_32.png">&nbsp;'
            }
            var content = '<p>' + icon + '<strong>' + venue.name + '</strong> ' + url + '</p><p><small><em><strong>Foursquare:</strong> ' + venue.hereNow.summary + '</em></small></p>';
            var address = venue.location.formattedAddress.join().replace(/\, /g, '***').replace(/\,/g, '<br>').replace('***', ', ');
            address = venue.contact.formattedPhone ? address + '<br><a href="tel:' + venue.contact.phone + '">' + venue.contact.formattedPhone + '</a>': address;
            var map = '<div class="address">' + address + '</div><div class="map">' + venue.location.lng.toFixed(4)  + ',' + venue.location.lat.toFixed(4) + '</div>';
            if (venue.location.formattedAddress && venue.location.lat && venue.location.lng) {
              show_contact = '<p><span class="btn btn-default btn-sm" id="show-contact" role="button">Show Contact Information</span></p>';
            } else {
              show_contact = '';
            }
            $(`p#venue_${i}`).html(content);
            $(`p.show-contact#venue_${i}`).html(show_contact);
            $(`.map-container#venue_${i}`).html(map).hide();
         });
         // Remove empty divs
           if (venueCount < 10) {
             for (i = venueCount; i <= 10; i++) {
               $(`.venue#venue_${i}`).hide();
             }
           }
      });

      $('#names').closest('.row').show();
    });
  }(jQuery));

</script>
